<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Meeting Room</title>
  </head>
  <body>
    <script>
      const token = localStorage.getItem("token")
    </script>
    <h1>Create Meeting Room</h1>
    <% if (typeof error !== 'undefined') { %>
    <p>Error: <%= error %></p>
    <% } else { %>
    <form action="/meeting-room" method="POST">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="capacity">Capacity:</label><br />
      <input type="text" id="capacity" name="capacity" /><br />
      <label for="equipment">Equipment:</label><br />
      <input type="text" id="equipment" name="equipment" /><br />
      <input type="hidden" id="token" name="token" value="token" />
      <button type="submit">Create</button>
    </form>
    <% } %>
  </body>
</html>
