<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Reservations</title>
  </head>
  <body>
    <h1>All Reservations</h1>
    <% if (typeof error !== 'undefined') { %>
    <p><%= error %></p>
    <% } else { %>
    <ul>
      <% reservations.forEach(reservation => { %>
      <li>
        <a href="/reservations/<%= reservation._id %>">
          <%= reservation._id %>
        </a>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
