<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script>
      const existingToken = localStorage.getItem("token")
      if (!existingToken) {
        ;("<% if (typeof token !== 'undefined') { %>")
        const token = "<%= token %>"
        localStorage.setItem("token", token)
        window.location.href = "/"
        ;("<% } %>")
      } else {
        window.location.href = "/"
      }
    </script>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br />
      <button type="submit">Login</button>
    </form>
    <% if (typeof error !== 'undefined') { %>
    <p><%= error %></p>
    <% } %>
  </body>
</html>
